
@{
    ViewData["Title"] = "OrderList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _currentpage = ViewBag.Currentpage;
    var _totalpage = ViewBag.Totalpage;
}
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">

                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">AnaSayfaya Dön</a></li>
                        <li class="breadcrumb-item active">Siparislerim</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                     
                        <!-- /.card-header -->
                        <div class="card-body">
                            <form asp-controller="Order" asp-action="OrderList" asp-route-pageIndex="@_currentpage" method="post">

                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Siparis ID</th>
                                            <th>Siparis Tarihi</th>
                                            <th>Siparis Tutarı</th>
                                            <th>Detay</th>

                                        </tr>
                                    </thead>
                                    <tbody id="OrderResult">
                                    </tbody>
                                    <tfoot id="PageOrderResult">

                                    </tfoot>
                                </table>
                            </form>

                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- /.content -->
</div>



@section Scripts{

    <script>

    var controllerName = '@(ViewContext.RouteData.Values["Controller"].ToString())';
        var actionName = '@(ViewContext.RouteData.Values["Action"].ToString())';
        var totalpage = '@_totalpage';
    </script>

    <script src="~/assets/scripts/paging/getOrderList.js"></script>

}