@{
    ViewData["Title"] = "Kullanicilar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _currentpage = ViewBag.Currentpage;
    var _totalpage = ViewBag.Totalpage;
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">

                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
                        <li class="breadcrumb-item active">Kullanıcılar</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><a asp-controller="Account" asp-action="Register">Yeni Kullanıcı Eklemek için Tıklayın</a></h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <form asp-controller="Company" asp-action="CompanyList" asp-route-pageIndex="@_currentpage" method="post">

                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>User Name</th>
                                            <th>Email</th>
                                            <th>Firma</th>
                                            <th>Status</th>
                                            <th>Düzenle</th>
                                            <th>Sil</th>
                                        </tr>
                                    </thead>
                                    <tbody id="UserResult">
                                    </tbody>
                                    <tfoot id="PageUserResult">

                                    </tfoot>
                                </table>

                            </form>

                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>


@section Scripts{

    <script>

    var controllerName = '@(ViewContext.RouteData.Values["Controller"].ToString())';
        var actionName = '@(ViewContext.RouteData.Values["Action"].ToString())';
        var totalpage = '@_totalpage';
    </script>

    <script src="~/assets/scripts/paging/getUsersList.js"></script>

}