@model CompaniesDto
@{
    ViewData["Title"] = "CompanyAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">

                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">AnaSayfaya Dön</a></li>
                        <li class="breadcrumb-item active">Kayıtlı Firmalar</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><a asp-controller="Company" asp-action="CompanyAdd">Yeni Firma Eklemek için Tıklayın</a></h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <form asp-controller="Company" asp-action="CompanyAdd" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="input-group mb-3">
                                    <input asp-for="CompanyName" type="text" class="form-control text-uppercase" maxlength="50" placeholder="Firma Adı">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fa fa-info"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <input asp-for="AccountingCode" type="text" class="form-control" maxlength="50"  placeholder="Muhasebe Kodu">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fa fa-info"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <input asp-for="Address" type="text" class="form-control text-uppercase" maxlength="250" placeholder="Adress">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fa fa-info"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="input-group mb-3">
                                            <input asp-for="City" type="text" class="form-control text-uppercase" maxlength="20" placeholder="İl">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fa fa-info"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="input-group mb-3">
                                            <input asp-for="State" type="text" class="form-control" maxlength="20" placeholder="İlçe">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fa fa-info"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="input-group mb-3">
                                            <input asp-for="Phone1" type="tel" class="form-control" maxlength="15" placeholder="Tel1">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fa fa-info"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="input-group mb-3">
                                            <input asp-for="Phone2" type="tel" class="form-control" maxlength="15" placeholder="Tel2">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fa fa-info"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="input-group mb-3">
                                            <input asp-for="Fax" type="tel" class="form-control" maxlength="15" placeholder="Fax">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fa fa-info"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="input-group mb-3">
                                            <input asp-for="PlasiyerCode" type="number" class="form-control" maxlength="10" placeholder="Plasiyer Kodu">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fa fa-info"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="input-group mb-3">
                                            <input asp-for="RiskLimit" type="number" class="form-control" placeholder="Risk Limiti">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fa fa-info"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="input-group mb-3">
                                            <input asp-for="TotalRiskLimit" type="number" class="form-control" placeholder="Toplam Risk Limiti">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fa fa-info"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="input-group mb-3">
                                            <input asp-for="TaxNumber" type="number" class="form-control" placeholder="Vergi No">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fa fa-info"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="input-group mb-3">
                                            <input asp-for="TaxAdress" type="text" class="form-control" maxlength="50" placeholder="Vergi Dairesi">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fa fa-info"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                     <button type="submit" class="btn btn-success">Kaydet</button>
                                </div>
                            </form>
                            



                        </div>
                        <div class="card-footer">
                            <a asp-controller="Company" asp-action="CompanyList" class="btn btn-block btn-dark">Kayıtlı Firmalar</a>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- /.content -->
</div>

